.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      = link_to 'Pomodoro Arcade', '#', :class => 'brand'
      .nav-collapse.collapse
        %ul.nav
          %li.active
            = link_to 'Home', '#'
          %li
            = link_to 'About', '#about'
          %li
            =link_to 'Contact', '#contact'
