%h1 Pomodoro Arcade

%p Welcome to the Pomodoro Arcade, a place where you can reward yourself for your hard work.

#guest_pomo_timer

- content_for :javascript do
  = javascript_tag "GuestPomoTimer.renderTimer();"
