%h1 Your Timers

%p Here is your set of timers.  

.row-fluid
  #pomodoro-arcade-container

- content_for :javascripts do
  :javascript
    PomodoroArcade.router = new PomodoroArcade.Router({container_id: "pomodoro-arcade-container", timer_collection: #{@backbone_timer_collection}, endpoint: "#{timers_url}"});
    Backbone.history.start();
