%br
%br
%br

.radial-progress-container
  .rp-quad-container.rp-quad-container1
    .rp-quad.rp-quad1
  .rp-quad-container.rp-quad-container2
    .rp-quad.rp-quad2
  .rp-quad-container.rp-quad-container3
    .rp-quad.rp-quad3
  .rp-quad-container.rp-quad-container4
    .rp-quad.rp-quad4
  .rp-ring-bg
    .rp-ring-outer
    .rp-ring-inner

%br
%br
%br

#raphael-paper

- content_for :javascripts do
  :javascript
    window.onload = function (){
      var canvas_width, canvas_height;

      canvas_width = 500;
      canvas_height = 500;

      DrawCircle.init("raphael-paper", canvas_width, canvas_height);
      DrawCircle.drawArc({width: canvas_width, height: canvas_height, percent: 100});
    };
