%br
%br
%br
%br
%br
.radial-progress-container
  .rp-quad-container.rp-quad-container1
    .rp-quad.rp-quad1
  .rp-quad-container.rp-quad-container2
    .rp-quad.rp-quad2
  .rp-quad-container.rp-quad-container3
    .rp-quad.rp-quad3
  .rp-quad-container.rp-quad-container4
    .rp-quad.rp-quad4
  .rp-ring-bg
    .rp-ring-outer
    .rp-ring-inner
