
/********************* WHEAT FIELD *********************/

// GREEN
$color-husk: rgb(188, 172, 89);
$color-pesto: rgb(121, 119, 46);

// BLUE
$color-jungle-mist: rgb(180, 209, 215);
$color-picton-blue : rgb(66, 175, 220);
$color-lochmara: rgb(4, 137, 190);

// BROWN
$color-sandy-brown: rgb(245, 171, 86);
$color-tuscany: rgb(191, 111, 40);
/********************* END WHEAT FIELD *********************/


