.timer-container {
  text-align: center;
  i.mini-timer-icon {
    font-size: 3em;
  }
  i.large-timer-icon {
    font-size: 8em;
  }
  .clock {
    font-size: 4em;
  }
  .rest-icon {
    margin: auto;
    height: 210px;
    width: 224px;
    background-image: url("icons/walk.gif");
  }
}

.timer-body {
  padding-top: 5.5em;
}

.svg-wrap {
  position:relative;
  left: -16.15em;
  z-index: -1;
}

.timer-index-container { 
  .mini-timer {
    background-color: $color-picton-blue;
    border-top: solid 3px $color-jungle-mist;
    border-bottom: none;
    padding: 5px;
    margin: 0;
    text-align: center;

    &.last { border-bottom: solid 3px $color-jungle-mist; }
    &.create-new-timer {
      background-color: $color-husk;
      @include angled-stripes();
    }
    .mini-timer-icon {
      display:block;
      font-size: 3em;
    }
    .mini-timer-title { }
  }
}


