<script type="text/template" id="timer_edit_template">
  <label for="edit-timer-name">Name: {{name}}</label>
  <label for="edit-timer-time">Timer Length: {{timer_length_minutes}}</label>
  <label for="edit-timer-break-time">Break Time: {{rest_period_minutes}}</label>
  <label for="edit-timer-goal">Goal (number per day)</label>
  <input name="goal" id="edit-timer-goal" value="{{goal}}">

  <div class="save-btn btn btn-primary">SAVE</div>
  <div class="back-btn btn btn-info">CANCEL</div>
</script>
