<script type="text/template" id="timer_index_template">
  <div class="row timer-index-container"> </div>
  <div class="container">
    <div class="new-btn btn btn-success">NEW</div>
  </div>
</script>
