<script type="text/template" id="timer_new_template">
  <label for="new-timer-name">Timer Name</label>
  <input name="name" id="new-timer-name">
  <label for="new-timer-time">Timer Duration</label>
  <input name="time" id="new-timer-time">
  <label for="new-timer-break-time">Break Time</label>
  <input name="time" id="new-timer-break-time">
  <div class="create-btn btn btn-primary">CREATE</div>
  <div class="back-btn btn btn-info">BACK</div>
</script>
