<script type="text/template" id="timer_new_template">
  
  <input name="name" id="new-timer-name">
  <input name="time" id="new-timer-time">
  <div class="create-btn btn btn-primary">CREATE</div>
</script>
