<%-# Mini view of a timer meant to display as a collection of timers. %>
<script type="text/template" id="base_mini_timer_template">
  <i class="mini-timer-icon fa fa-clock-o center-block"></i>
  <i class="edit-timer-icon fa fa-info-circle"></i>
  <div class="mini-timer-title">
    {{ title }}
  </div>
</script>
