<script type="text/template" id="base_timer_template">
  <div class="timer timer-container">
    <div class="svg-wrap"></div>
    <div id="default-timer" class="timer-body">
      <h3> {{ title }} Timer </h3>
      <i class="large-timer-icon fa fa-clock-o"></i>
      <div class="clock">
        <span class="minutes">{{ minutes }}</span>:<span class="seconds">{{ seconds }}</span>
      </div>
      <div class="start-btn btn btn-primary">START</div>
      <div class="pause-btn btn btn-warning">PAUSE</div>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="stop-btn btn btn-danger">STOP</div>
      <div class="back-btn btn btn-info">BACK</div>
    </div>
  </div>
</script>
