<%-# Mini view of a timer meant to display as a collection of timers. %>
<script type="text/template" id="base_mini_timer_template">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <i class="mini-timer-icon fa fa-clock-o center-block"></i>
    <div class="mini-timer-title">
      {{ title }}
    </div>
  </div>
</script>
