<script type="text/template" id="demo_timer_template">
  <div class="timer timer-container span3">
    <div id="default-timer">
      <h3> Pomodoro Timer </h3>
      <i class="large-timer-icon icon-time"></i>
      <div class="clock">
        <span class="minutes">{{ minutes }}</span>
        :
        <span class="seconds">{{ seconds }}</span>
      </div>
      <div class="start-btn btn btn-primary">START</div>
      <div class="pause-btn btn btn-warning">PAUSE</div>
      <div class="stop-btn btn btn-danger">STOP</div>
    </div>
  </div>
</script>
